*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
    align-items: center;
}

header{
    height: 90px;
    background-color: aqua;
}

nav ul li{
    list-style-type: none;
    margin-left: 1.7rem;
}

header nav{
    height: 100%;
}