*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    height: 90px;
}

h2{
    font-size: 2.6rem;
}

i{
    padding-right: .5rem;
}

li{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
}

sup{
    font-size: 1.2rem;
}

footer{
    height: 500px;
    background-color: black;
    color: white;
}

.flex{
    display: flex;
}

.flex-centered{
    display: flex;
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.blue-btn{
    color: white;
    background-color: #0958e5;
    padding: .8rem 1rem;
    border: #0958e5;
    font-size: 0.9rem;
}

.jumbotron{
    width: 100%;
    height: 700px;
    background-color: #b4d0e7;
    margin-bottom: 9rem;
}

.big-container{
    max-width: 1200px;
    margin: 0 auto ;
}

.title{
    padding-top: 2rem;
    width: 100%;
    height: 300px;
    font-size: 3.6rem;
    font-weight: bold;
}

.low-jumbo{
    width: 30%;
    height: 200px;
}

.jumbo-text{
    line-height: 23px;
}

.img-jumbo{
    width: 70%;
    height: 500px;
    object-fit: cover;
}

.fa-arrow-down{
    font-size: 3rem;
    padding-top: 3.5rem;
}

.small-container{
    max-width: 1000px;
    margin: 95px auto;
}

.invoice{
    margin-left: 1.2rem;
}

.invoice-btn{
    margin-right: 2rem;
    display: inline-block;
}

.business-column{
    justify-content: space-between;
    margin-top: 3rem;
}

.line-column{
    width: 20%;
    margin-bottom: 1.3rem;
}

.professional-column,
.advanced-column,
.enterprise-column{
    width: 300px;
    height: 900px;
    border: 1px grey solid;
}

.company{
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px grey solid;
}

.column-container{
    width: 250px;
    height: 600px;
    margin: 40px auto;
}

.fa-check{
    color: #0958e5;
}

.team-column{
    width: 100%;
    height: 250px;
    margin-top: 3.5rem;
    border: 1px grey solid;
}

.largecolumn-container{
    width: 850px;
    margin: 40px auto;
}

.enterprise-container{
    justify-content: space-between;
}

.partner-image{
    width: 60%;
    height: 500px;
}

.partner-text{
    width: 40%;
    height: 500px;
    padding: 4rem 1rem;
}

.white-btn{
    padding: 1rem;
    border: 1px black solid;
    font-size: 1rem;
    background-color: white;
    font-style: normal;
    flex-wrap: wrap;
}

.first-row,
.second-row{
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
}

.card{
    width: calc(100% / 3 - 30px);
    height: 550px;
}

.img-container{
    width: 100%;
    height: 300px;
}

.blue-underline{
    text-decoration: underline;
    color: #0958e5;
}

.large-container{
    width: 100%;
    background-color: #f5f5f5;
}

.multi-container{
    height: calc(100vw / 3);
    width: calc(100vw / 3);
    background-color: bisque;
}


.multi-box{
    height: calc(100% / 2);
    width: calc(100% / 2);
}

.green-box{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #a2d39b;
    border: 10px #d1e9cd solid;
}

.lightblue-box{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #1993ce;
}

.bordeaux-box{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #61082b;
}

.lightred-box{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fb1c1d;
}

.darkred-box{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #d5001f;
}

.darkblue-box{
    position: relative;
    height: 100%;
    width: 100%;
    background-color:#0d2381;
}

.celeste-box{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #b4d0e7;
}

.yellow-box{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fed830;
}

.mono-box{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.container-monobox{
    width: 100%;
    height: 100%;
    margin: 2.5rem 1.5rem;
}

.design-line{
    width: 20%;
    margin: 3rem 0;
 
}

.blue-container{
    width: 100%;
    height: 335px;
    background-color: #b4d0e7;
}

.trial-container{
    max-width: 1000px;
}

.carosel-box{
    margin: 2rem 0rem;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.foot-column{
    margin-top: 5rem;
}

.language-side{
    position: relative;
    width: 100%;
    height: 80px;
    margin-top: 3rem;
}

.language-box{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #999898;
}

.foot-line{
    width: 10%;
}

nav ul li{
    list-style-type: none;
    margin-left: 1.7rem;
    margin-right: 1rem;
}

header nav{
    height: 100%;
}

div.low-jumbo  button, p{
    margin-bottom: 28px;
}

div.low-jumbo p{
    margin-bottom: 28px;
}

div.small-container h2, label{
    margin-top: 40px;
    padding-bottom: 45px;
}

div ul li{
    margin-bottom: 1.2rem;
    display:flex
}

div.column button.blue-btn{
    width: 100%;
    margin-bottom: 1.5rem;
}

.bold-text{
    font-weight:bolder;
}

div.enterprise-container p{
    margin-top: 1rem;
}

div.column-container p.bold-text{
    margin-top: 1rem;
}

div.partner-image img{
    padding-right: 3rem;
}

div.partner-text p{
    margin-top: 2rem;
    font-size: 1.1rem;
}

div.partner-text button{
    margin-top: 3rem;
}

div.card p{
    margin-top: 2rem;
}

div.card h3{
    font-size: 1.5rem;
}

div.multi-box img{
    position: absolute;
    width: 160px;
    height: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

div.container-monobox h1{
    font-size: 3.6rem;
    font-weight: bold;
}



div.container-monobox p{
    margin-bottom: 5rem;
}

div.blue-container div{
    padding: 7rem 1rem;
    margin: 0 auto;
}

div.space-between button{
    border: #b4d0e7;
}

div.foot-column h3{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

#red-title{
    color: #60062b;
    font-size: 2.7rem;
}

