*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.flex{
    display: flex;
}

.flex-centered{
    display: flex;
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.blue-btn{
    color: white;
    background-color: #0958e5;
    padding: .8rem 1rem;
    border: #0958e5;
}

header{
    height: 90px;
    background-color: aqua;
}

nav ul li{
    list-style-type: none;
    margin-left: 1.7rem;
}

header nav{
    height: 100%;
}